.container {
  max-width: 1990px;
  margin: auto;
}

.sectionList {
  flex: 9;
  min-height: 100vh;
  perspective: 10px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.cursorarea {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  z-index: 3;
  border: 1px solid #fff;
  transition: 2.1s;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.733);
  transform: translate(-50%, -50%);
}
