.mainContent {
  width: 100%;
  color: #fff;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(#212529, #000);
}

.heading {
  position: absolute;
  top: 20%;
  left: 7%;
  z-index: 1;
}

.heading h2 {
  font-size: 55px;
  margin-bottom: 15px;
}

.heading h2 span {
  color: #00fffa;
}

.heading p {
  font-size: 24px;
}

.hamburger {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 35px;
}

@media only screen and (min-width: 1025px) {
  .hamburger {
    display: none;
  }
}
